<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/indexStyle.css">
    <link rel="stylesheet" media="screen" href="/bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/npm.js"></script>
    <style>
    .carousel-control.left{background-image:none;}
    .carousel-control.right{background-image:none;}
    </style>
  </head>
  <h1>音楽やさんの管理ページです</h1>
  <body>

     <a href="/index.php/Main/productRegistration"><button type="button" class="btn btn-default">商品登録</button></a>
     <a href="/index.php/Main/order"><button type="button" class="btn btn-default">受注台帳</button></a>

  </body>
</html>
